{% extends 'base.html' %}
{% block content %}
    <h3 style="background-color: #006b1b">product detail</h3>
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.quantity }}</p>
    
    <form method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        {{ form.as_p }}
{#        <input type="hidden" name="product_id" value="{{ product.id }}">#}
{#        <input type="number" name="product_qty">#}
        <button style="color: #6f94c6" type="submit">Add to Basket</button>
    </form>
    
{% endblock %}